/***********/
/* General */
/***********/

body {
  background-color: #000;
}

.links {
  font-weight: 500;
}

.links .text {
  color: #000;
  margin-left: 5px;
}

.text {
  font-size: 20px;
}

.links img{
  margin-left: 10px;
}

.links a:hover{
  color: #00a2e8;
  text-decoration:none;
}

img {
  margin: auto;
}

/**********/
/* Header */
/**********/

.mainHeader {
  background-color: #fff;
}

#topHeader {
  margin-bottom: 10px;
}

.aliBrand, .links {
  height: 100px;
  padding: 30px 30px;
  line-height: 40px;
}

.aliBrand {
  font-size: 28px;
  font-weight: 700;
}

.aliBrand a {
  text-decoration:none;
  color: #00a2e8;
}

.aliBrand a:hover {
  text-decoration:none;
  color: #000;
}

/***************/
/* Page layout */
/***************/

.container {
  text-align: center;
  padding: 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

div.col-xs-12 {
  padding:0;
}

/*****************/
/* Page Specific */
/*****************/

/* About */
#about div {
  text-align: left;
  background-color: #fff;
}

img#me {
  padding-bottom: 15px;
}

#bio p, #bio h3, #bio h4, #bio ul {
  padding-left: 15px;
  padding-right: 15px;
}

#bio ul {
  list-style-type: circle;
  list-style-position: inside;
}

/* Contact */
#contact div {
  background-color: #fff;
}

/* Gallery */
#gallery .left .art, #gallery .right .art, #galleryNav .art {
  margin-bottom: 10px;
}

#gallery .caption {
  background-color: #333;
  color: #fff;
}

/* Gallery Nav */
#galleryNav {
  background-color: #fff;
}

#galleryNav .art {
  margin-left: 10px;
}

#galleryNav .art img {
  max-width: 96%;
  padding: 2%;
  background: #00a2e8;
}

#galleryNav .row {
  margin-top: 10px;
  margin-right: 10px;
}

/********************/
/* Desktop settings */
/********************/
@media (min-width: 768px) {
/* About */
  img#me {
    padding-bottom: 0;
    padding-left: 15px;
  }

/* Contact */
  #contact label {
    padding-right:15px;
  }

/* Gallery */
  #gallery .left.art {
    margin-right: 10px;
  }

  #gallery .left {
    padding-right: 5px;
  }

  #gallery .right {
    padding-left: 5px;
  }
}
